/*  your css code here. If applicable */
.grid-container{
	display:grid;
	gap:10px 10px;
	grid-template-columns:321.328, 321.336, 321.336;
}
.grid-item{
	
	height:100px;
	border:1px solid #ccc;
	background-color:#f2f2f2;
	text-align:center;
	
}